.wrapper {
  width: 1170px;
  margin: 0 auto;
}

.clearfix::before,
.clearfix::after {
  content: '';
  clear: both;
  display: block;
}
/* ==========================================
  header_contact
========================================== */
.social {
  width: 100%;
  background-color: #f5f7fa;
  position: relative;
  text-align: center;
}

.social__left {
  float: left;
  width: 50%;
  margin: 10px 0;
}

.social__right {
  float: right;
  width: 50%;
}

.contact {
  font-size: 12px;
}

.contact__contents {
  display: inline-block;
  margin: 0 13px;
}

.email__icon {
  display: inline-block;
  vertical-align: middle;
  height: 15px;
  margin-right: 5px;
  background: url(../img/header/icon-mail-on.png) no-repeat;
}

.tel__icon {
  display: inline-block;
  vertical-align: middle;
  height: 15px;
  margin-right: 5px;
  background: url(../img/header/icon-tel-on.png) no-repeat;
}

.email__icon:hover, .tel__icon:hover {
  background-color: transparent;
}

.email__icon:hover img, .tel__icon:hover img {
  visibility: hidden;
}

.contact__contents__txt {
  color: #506a85;
  display: inline-block;
  vertical-align: middle;
  height: 15px;
}

.contact__contents__txt:hover {
  color: #00bc9c;
}

/* ==========================================
  header_sns
========================================== */
.sns__link {
  height: 35px;
}

.sns__link > li {
  display: inline-block;
  cursor: pointer;
  height: 35px;
  width: 32px;
  position: relative;
}

.sns__link > li:hover img:first-child {
  visibility: hidden;
}

.sns__content {
  display: block;
  width: 100%;
  height: 100%;
}

.sns__link__icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.front__icon {
  z-index: 1;
}

.sns__link__fb:hover {
  background-color: #4668b3;
}

.sns__link__ggl:hover {
  background-color: #de5745;
}

.sns__link__twt:hover {
  background-color: #2fbbed;
}

.sns__link__pinter:hover {
  background-color: #d94348;
}

.sns__link__behance:hover {
  background-color: #3079ff;
}

.sns__link__drbl:hover {
  background-color: #eb6397;
}

.navibar {
  text-align: center;
}

.navibar__contents > li {
  display: inline-block;
}