.wrapper {
  width: 1170px;
  margin: 0 auto;
}

.clearfix::before,
.clearfix::after {
  content:'';
  clear: both;
  display: block;
}

.social {
  width: 100%;
  background-color: #f5f7fa;
  position: relative;
  text-align: center;
  padding: 10px;
}

.social__left {
  float: left;
  width: 50%;
}

.social__right {
  float: right;
  width: 50%;
}

.contact {
  font-size: 12px;
}

.contact__contents {
  display: inline-block;
  margin: 0 13px;
}

.contact__contents > p {
  display: inline-block;
  vertical-align: middle;
  height: 15px;
}

.contact__contents > p > img {
  margin-right: 5px;
}

.sns > li {
  margin: 0 13px;
  display: inline-block;
}

.navibar {
  text-align: center;
}

.navibar__contents > li {
  display: inline-block;
}