.wrapper {
  width: 1170px;
  margin: 0 auto;
}

.clearfix::before,
.clearfix::after {
  content: '';
  clear: both;
  display: block;
}
/* ==========================================
  header
========================================== */
.social {
  width: 100%;
  background-color: #f5f7fa;
  position: relative;
  text-align: center;
  padding: 10px;
}

.social__left {
  float: left;
  width: 50%;
}

.social__right {
  float: right;
  width: 50%;
}

.contact {
  font-size: 12px;
}

.contact__contents {
  display: inline-block;
  margin: 0 13px;
}

.email__icon {
  display: inline-block;
  vertical-align: middle;
  height: 15px;
  margin-right: 5px;
  background: url(../img/header/icon-mail-on.png) no-repeat;
}

.tel__icon {
  display: inline-block;
  vertical-align: middle;
  height: 15px;
  margin-right: 5px;
  background: url(../img/header/icon-tel-on.png) no-repeat;
}

.email__icon:hover, .tel__icon:hover {
  background-color: transparent;
}

.email__icon:hover img, .tel__icon:hover img {
  visibility: hidden;
}

.contact__contents__txt {
  color: #506a85;
  display: inline-block;
  vertical-align: middle;
  height: 15px;
}

.contact__contents__txt:hover {
  color: #00bc9c;
}

.sns > li {
  margin: 0 13px;
  display: inline-block;
}

.navibar {
  text-align: center;
}

.navibar__contents > li {
  display: inline-block;
}